.shariff {
	.linkedin {
	            a {
	                padding-left: 24px;
	                background-color: #007bb6;
	                &:hover {
	                    background-color: #1488bf;
	                }
	            }
	            .share_count {
	                color: #183a75;
	                background-color: #99adcf;
	            }
	        }
	.theme-round {
		.fa-linkedin {
			margin-left: 3px;
			margin-top: -0.5px;
		}
	}
    .theme-white {
        .linkedin a {
            color: #007bb6;
        }
    }
}
