.shariff {
	.reddit {
		a {
			padding-left: 24px;
			background-color: #cee3f8;
			&:hover {
				background-color: #bedcf9;
			}
		}
        .fa-reddit {
            font-size: 17px;
			left: 0.5px;
        }
		.share_count {
			color: #000000;
			background-color: #e9f2fa;
		}
	}
	.theme-round {
		.fa-reddit {
			margin-left: 2px;
		}
	}
    .theme-white {
        .reddit a {
            color: #cee3f8;
        }
    }
}
