.shariff {
	.xing {
            a {
                padding-left: 24px;
                background-color: #126567;
                &:hover {
                    background-color: #29888a;
                }
            }
            .share_count {
                color: #15686a;
                background-color: #4fa5a7;
            }
        }
    .theme-white {
        .xing a {
            color: #126567;
        }
    }
}
